@import '../../Pages/MainLayout/themes.scss';

.active-tab {
  border-bottom: solid 2px #007bff;
  cursor: pointer;
  font-weight: '700';
  padding: 1rem;
  @include themify($themes) {
    color: themed('textColor');
  }
}

.default-tab {
  cursor: pointer;
  font-weight: '700';
  padding: 1rem;
  @include themify($themes) {
    color: themed('textColor');
  }
}

.credit-link {
  font-weight: 600;

  @include themify($themes) {
    color: themed('textColor');
  }
}
