.authContainer {
    width: 100%;
    border:1px solid rgba(238,238,238,1);
    background-color: #fff;
    padding: 2rem;
    max-width: 36rem;
    .header {
        display: flex;
        flex-flow: column nowrap;
        
        .label {
            font-size: .75rem;
        }
        .description {
            font-size: 1.125rem;
            font-weight: 700;
        }
    }
}