.sideBarHeadLine {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 0.75rem;
  letter-spacing: 0.05em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  height: 4rem;
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  position: relative;
  transition: all 0.2s ease-in-out;
  div {
    flex: 0 0 100%;
    transition: all 0.15s ease-in-out;
  }
  &:before {
    transition: all 0.2s ease-in-out;
    display: block;
    opacity: 0;
    content: '';
    position: absolute;
    z-index: 1;
    top: calc(2rem - 2px);
    left: 0;
    right: 0;
    height: 1px;
    width: 100%;
    background-color: #eeeeee;
  }
  @media (min-width: 768px) {
    @at-root .collapsed .sideBarHeadLine {
      padding-left: 0;
      padding-right: 0;
      div {
        flex: 0;
        max-width: 0;
        opacity: 0;
      }
      &:before {
        opacity: 1;
      }
    }
    @at-root .fixedSidebar .collapsed .sideBarHeadLine > div {
      display: none;
    }
  }
}
