.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  .progress {
    display: flex;
    height: 0.5rem;
    overflow: hidden;
    line-height: 0;
    font-size: 0.75rem;
    background-color: inherit;
    border-radius: 0.25rem;
    width: 80%;

    &-bar {
      display: flex;
      flex-direction: column;
      justify-content: center;
      overflow: hidden;
      color: #fff;
      text-align: center;
      white-space: nowrap;
      background-color: #007bff;
      transition: width 0.6s ease;
    }
  }

  .progressTxt {
    margin-left: 10px;
    font-size: 1rem;
    opacity: 0.6;
  }
}
