@import '../../../Pages/MainLayout/themes.scss';

.sidebar-link-with-sub {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  height: 2.5rem;
  cursor: pointer;
  color: black;
  position: relative;
  border-left: 4px solid #fff;
  transition: all 0.15s ease-in-out;

  @include themify($themes) {
    color: themed('textColor');
    background-color: themed('backgroundColor');
    border-left: themed('borderLeftColor');

    color: themed('textColorSidebar');
    background-color: themed('backgroundColorSidebar');
    border-left: themed('borderLeftColorSidebar');

    color: themed('customSidebarTxtColor');
    background-color: themed('customSidebarColor');
    border-left: themed('customSidebarColor');
  }

  @at-root .expanded &.active-link {
    + ul {
      width: auto;
      height: auto;
    }
  }
  @at-root .collapsed {
    @media (max-width: 767px) {
      .active-link {
        + ul {
          width: auto;
          height: auto;
        }
      }
    }

    .label {
      @media (min-width: 768px) {
        max-width: 0;
        opacity: 0 !important;
      }
    }
    .arrow {
      @media (min-width: 768px) {
        max-width: 0;
        opacity: 0 !important;
      }
    }
    .submenu:hover {
      > ul {
        opacity: 1;
        height: auto;
        position: absolute;
        overflow: visible;
        top: 0;
        width: 12rem;
        box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
        z-index: 120;
        left: 100%;
        li {
          width: 100%;
        }
        .label {
          max-width: unset;
          opacity: 1 !important;
        }
        .arrow {
          max-width: unset;
          opacity: 1 !important;
          transform: unset;
        }
      }
    }
  }
  &.active-link,
  &:hover {
    color: #2196f3;
    border-left: 4px solid #2196f3;
    @include themify($themes) {
      color: themed('customSidebarActiveTab');
      border-left: themed('customSidebarActiveTabBorder');
    }
    > ul {
      opacity: 1;
    }
  }
  .icon {
    position: relative;
    flex: 0 0 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    svg {
      height: 20px;
      width: 20px;
    }
  }
  .label {
    flex: 2 0 7em;
    opacity: 1;
    position: relative;
    margin: 0;
    overflow: hidden;
    @media (min-width: 768px) {
      transition: all 0.53s ease;
    }
  }
  .arrow {
    flex: 1 0 1em;
    transform: rotate(-90deg);
    opacity: 1;
    @media (min-width: 768px) {
      transition: all 0.53s ease;
    }
    &.active-link {
      transform: rotate(90deg);
    }
  }
  .sidebar-link {
    width: 100%;
  }
}
