@import '../../../Pages/MainLayout/themes.scss';

.sidebarLink {
  display: flex;
  flex-flow: row nowrap;
  border-left: 4px solid #fff;
  color: black;
  justify-content: flex-start;
  align-items: center;
  height: 2.5rem;
  width: auto;
  cursor: pointer;
  position: relative;
  transition: all 0.15s ease-in-out;

  @include themify($themes) {
    color: themed('textColor');
    border-left: themed('borderLeftColor');

    color: themed('textColorSidebar');
    border-left: themed('borderLeftColorSidebar');

    color: themed('customSidebarTxtColor');
    border-left: themed('customSidebarColor');
  }
  &.activeLink {
    + ul {
      width: auto;
      height: auto;
    }
  }
  &.activeLink,
  &:hover {
    color: #2196f3;
    border-left: 4px solid #2196f3;

    @include themify($themes) {
      color: themed('customSidebarActiveTab');
      border-left: themed('customSidebarActiveTabBorder');
    }
  }
  .icon {
    position: relative;
    flex: 0 0 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    svg {
      height: 20px;
      width: 20px;
    }
  }
  .label {
    position: relative;
    flex: 1 0 12em;
    margin: 0;
    overflow: hidden;
    opacity: 1;
    white-space: nowrap;
    @media (min-width: 768px) {
      transition: all 0.53s ease;
      @at-root .collapsed & {
        max-width: 0;
        opacity: 0;
      }
    }
  }
}
