.inputElement {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;

    .label {
        margin-bottom: .5rem;
    }
    .inputField {
        font-size: .75rem;
        display: block;
        width: 100%;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background-color: #fff;
        border: 1px solid #e2e8f0;
        border-radius: .25rem;
        padding: .5rem .75rem;
        line-height: 1.5;
    }
}