@import '../../Pages/MainLayout/themes.scss';

#msform {
  text-align: center;
  position: relative;
  margin-top: 20px;
}

.activ {
  background-color: #2196f3;
}

.back-col {
  @include themify($themes) {
    background-color: themed('backgroundColor');
  }
}

.step {
  z-index: 10;
  position: relative;
  font-size: 1rem;
  color: white;
  &::after {
    width: 100%;
    position: absolute;
    top: 50%;
    height: 4px;
    content: ' ';
    font-size: 4px;
    background-color: #eee;
    z-index: -1;
  }
  &.active {
    &::after {
      background-color: #007bff !important;
    }
  }
}

.stepnumber {
  border-radius: 100px;
  height: 2rem;
}

.text-color {
  --text-opacity: 1;
  color: #212121;
}

.pad {
  padding: 0.5rem;
}

.step {
  min-width: 2rem;
}

@media (min-width: 1024px) {
  #blockbar {
    flex-direction: row;
  }
}
.content_step {
  @include themify($themes) {
    background-color: themed('backgroundColor');
  }
}
